.container {
    padding: 0 2rem 2rem;
}

.container h1 {
    font-size: 3rem;
    text-align: center;
    font-family: "Caveat", cursive;

}

.errorRecepie {
    padding: '40px';
    text-align: center;
}

.errorRecepie p {
    font-size: 2rem;
    font-weight: bold;
}