.container {
    padding: 0 2rem 2rem;
}

.container h1 {
    font-size: 2.5rem;
    text-align: center;
}

.errorRecepie {
    padding: '40px';
    text-align: center;
}

.errorRecepie p {
    font-size: 2rem;
    font-weight: bold;
}