input,
input::placeholder {
    font-family: "Caveat", cursive;
    font-weight: bold;
    padding: 0 2rem;
}

input {
    width: 400px;
    height: 5.5rem;
    max-width: 50%;
    margin-top: 3rem;
    text-align: center;
    border: 1px solid var(--orange-color);
    border-radius: 25px;
    font-size: 3rem;
}

input::placeholder {
    font-size: 2.3rem;
    color: var(--black-color);
}

.searchBtn {
    font-family: "Caveat", cursive;
    width: 100%;
    font-size: 2.5rem;
    background-color: #e5b400;
    max-width: 150px;
    border-radius: 50px;
    height: 50px;
    border: none;
    margin: 30px 0;
    cursor: pointer;
}