.container {
    display: flex;
    justify-content: center;
}

.registerForm {
    background: var(--white-color);
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.title {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 3rem;
}

.inputGroup {
    margin-bottom: 1.2rem;
}

.inputGroup label {
    font-size: 1.9rem;
}

.inputGroup input {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid var(--black-color);
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

.error {
    text-align: center;
    color: var(--error-color);
    padding-top: .5rem;
    font-size: 2.5rem;
}

.loginBtn {
    width: 100%;
    padding: 0.8rem;
    background-color: var(--orange-color);
    color: var(--white-color);
    border: none;
    border-radius: 6px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.loginBtn:hover {
    background-color: var(--active-color);
}

.error {
    text-align: center;
    color: var(--error-color);
    font-size: 2rem;
}