.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 100%;
}

.glassCard {
    background: var(--dark-theme);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 2rem 3rem;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.glassCard:hover {
    transform: translateY(-2px);
}


.header {
    color: var(--succes-color);
    margin-bottom: 1.2rem;
    font-size: 3.5rem;
    font-weight: bold;
}

.title {
    font-size: 3rem;
    font-family: "Caveat", cursive;
    margin-bottom: 1rem;
}

.description {
    font-size: 1.6rem;
    opacity: 0.9;
    margin-bottom: 1rem;
}