.banner {
    background: var(--dark-theme);
    border-radius: 12px;
    padding: 2.5rem;
    margin-bottom: 3rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 3rem;
    max-width: 500px;
    width: 100%;
}

.title {
    font-size: 3rem;
    margin-bottom: 8px;
    font-weight: 500;
}

.highlight {
    color: var(--succes-color);
    font-weight: bold;
    font-family: "Caveat", cursive;
}

.subtitle {
    font-size: 1.8rem;
    color: var(--sub-color);
    margin-bottom: 2rem;
}

.actions {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.btnYes {
    background-color: var(--succes-color);
    color: var(--white-color);
    padding: 1rem 2rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    transition: transform 0.2s, filter 0.2s;
}

.btnYes:hover {
    transform: translateY(-2px);
    filter: brightness(1.1);
}

.btnNo {
    background: transparent;
    color: var(--error-color);
    border: 1px solid var(--error-color);
    padding: 1rem 2rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    transition: all 0.2s;
}

.btnNo:hover {
    background: rgba(231, 76, 60, 0.1);
    color: var(--error-color);
}