.container {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin-bottom: 5rem;
    padding-top: 2rem;
}

.ulList {
    gap: .5rem;
    display: flex;
}

.icon {
    position: absolute;
    left: 2rem;
    font-size: 2rem;
    cursor: pointer;
}

li {
    list-style: none;
}

.btn {
    font-family: "Caveat", cursive;
    border-radius: 20px;
    border: none;
    font-size: 1.5rem;
    padding: .8rem 2rem;
    background-color: var(--orange-color);
    text-decoration: none;
    cursor: pointer;

}

.menuItem a {
    color: var(--black-color);
}

.menuItem a:global.active {
    font-weight: bold;
    background-color: var(--active-color);
}

@media screen and (min-width: 700px) {
    .btn {
        font-size: 2.2rem;
    }
}