.container {
    margin-bottom: 5rem;
}

.icon {
    position: absolute;
    left: 2rem;
    top: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
}

li {
    list-style: none;
}

.home {
    position: absolute;
    top: .6rem;
    right: 10rem;
    font-family: "Caveat", cursive;
    border-radius: 20px;
    border: none;
    font-size: 1.5rem;
    padding: 8.6px 20px;
    background-color: var(--orange-color);
    text-decoration: none;
    cursor: pointer;

}