.container {
    margin-bottom: 5rem;
}

.icon {
    position: absolute;
    left: 2rem;
    top: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
}

li {
    list-style: none;
}



.home,
.login,
.profile {
    position: absolute;
    top: .6rem;
    font-family: "Caveat", cursive;
    border-radius: 20px;
    border: none;
    font-size: 1.5rem;
    padding: 8.6px 20px;
    background-color: var(--orange-color);
    text-decoration: none;
    cursor: pointer;

}

.home {
    right: 19.5rem;
}

.profile {
    right: 9.5rem;
}

.login {
    right: 2rem;
}

.menuItem a {
    color: var(--black-color);
}

.menuItem a:global.active {
    font-weight: bold;
    background-color: var(--active-color);
}