.container {
    display: flex;
    justify-content: center;
    padding: 4rem 2rem;
}

.glassCard {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 3rem;
    max-width: 700px;
    width: 100%;
}

.badge {
    color: var(--succes-color);
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
}

.mainTitle {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    opacity: 0.7;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.description,
.ingredients,
.prepare {
    line-height: 1.6;
    font-size: 1.7rem;
    margin-bottom: 2rem;
    white-space: pre-wrap;
    word-wrap: break-word;
}