.container {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.glassCard {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 30px;
    max-width: 700px;
    width: 100%;
}

.badge {
    color: var(--succes-color);
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
}

.mainTitle {
    font-size: 2.5rem;
    margin-bottom: 30px;
    opacity: 0.7;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.description,
.ingredients {
    line-height: 1.6;
    font-size: 2.5rem;
    margin-bottom: 20px;
}