.container {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
}

.logIn,
.logOut {
    font-family: "Caveat", cursive;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    background-color: var(--orange-color);
    cursor: pointer;
}