.carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.carousel::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    pointer-events: none;
    z-index: 1;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.slide:nth-child(1) {
    opacity: 1;
    animation: fade 15s infinite 0s;
}

.slide:nth-child(2) {
    animation: fade 15s infinite 5s;
}

.slide:nth-child(3) {
    animation: fade 15s infinite 10s;
}

.heroText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white-color);
    z-index: 2;
    padding: 2rem;
    width: 100%;
}

.heroText h1 {
    font-size: 5.5rem;
    margin: 0 0 2rem 0;
    font-weight: bold;
    color: var(--orange-color);
}

.heroText p {
    font-size: 2.8rem;
    margin: 0;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}