.postCard {
    background: var(--dark-theme);
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 4rem;
}

.title {
    margin: 0 0 1rem 0;
    color: var(--succes-color);
    font-size: 4rem;
}

.description {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    opacity: 0.9;
}

.ingredientsSection {
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.label {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--succes-color);
    display: block;
    margin-bottom: .4rem;
}

.ingredientsText {
    font-size: 1.8rem;
    margin: 0;
    opacity: 0.8;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
    margin-top: 1.5rem;
}

.divider {
    border: 0;
    margin-top: 2rem;
}