 .aboutContainer {
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 0 1rem;
     width: 100%;
     max-width: 700px;
     gap: 3.5rem;
     margin: 2rem auto 0;
     padding: 2rem;
 }

 .header {
     text-align: center;
     font-size: 5rem;
     font-family: "Caveat", cursive;

 }

 .iconItem {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
 }

 .iconItem p {
     margin-top: 2rem;
     font-size: 2.5rem;
 }

 .icons {
     font-size: 10rem;
 }

 .empty {
     font-family: "Caveat", cursive;
     margin: 0 auto;
     text-align: center;
 }

 .empty h2 {
     font-size: 3.5rem;
 }

 .empty p {
     font-size: 2.5rem;
     padding-bottom: 2rem;
 }

 @media screen and (min-width: 600px) {
     .aboutContainer {
         flex-direction: row;
         justify-content: space-between;
         max-width: 800px;
     }

     .iconItem {
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
     }

     .icons {
         font-size: 12rem;
     }
 }