.container {
    display: flex;
    flex-direction: column;
}

.container label {
    font-size: 1.9rem;
    font-weight: bold;
    padding-top: .3rem;
    border-radius: 6px;

}

.container input,
.container select {
    padding: .7rem;
    border-radius: 6px;

}

.container textarea {
    padding: 2rem;
    resize: none;
    border-radius: 6px;
}

.error {
    color: var(--error-color);
    font-size: 1.8rem;
}