.profileCard {
    margin: 0 auto;
    background-color: var(--white-color);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    transition: box-shadow 0.3s ease;
    margin-top: 5rem;
}

.profileCard:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profileTitle {
    font-size: 24px;
    color: var(--black-color);
    margin-bottom: 20px;
}

.ulContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    list-style: none;
    padding: 0;
}

.profileLink {
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 15px;
    font-size: 18px;
    max-width: 150px;
    width: 100%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.link {
    color: var(--white-color);
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    width: 100%;
    height: 100%;

}

.profileLink:hover {
    background-color: var(--active-color);
}

.profileLink a:global.active {
    font-weight: bold;
    border-radius: 12px;
    color: var(--black-color);
    background-color: var(--orange-color);
}

.outlet {
    margin-top: 4rem;
}