.empty-state {
    text-align: center;
    padding: 0 2rem;
    color: var(--black-color);
    font-size: 1.5rem;
}

.empty-state h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.empty-state p {
    margin-bottom: 1rem;
}