.addBtn {
    font-size: 2rem;
    text-decoration: none;
    color: var(--black-color);
    font-weight: bold;
    background-color: var(--button-color);
    border-radius: 6px;
    padding: 1rem 3rem;
}

.listContainer {
    width: 100%;
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 3.5rem;
}

.listHeader {
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
    padding: 1rem 2rem;
    font-weight: bold;
    color: var(--black-color);
    text-transform: uppercase;
    font-size: 1.85rem;
    letter-spacing: 1px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--border-color);
    transition: background-color 0.2s;
}


.row:last-child {
    border-bottom: none;
}

.title {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--black-color);
    margin-bottom: 1rem;
}

.actions {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: .8rem 1.6rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: bold;
    text-decoration: none;
    transition: filter 0.2s;
    color: var(--white-color);
}

.btn:hover {
    filter: brightness(90%);
}

.editBtn {
    background-color: var(--succes-color);
}

.deleteBtn {
    background-color: var(--error-color);
}